footer {
  background-color: #1f1f1f;
  padding: 100px 0 34px;
}

footer .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .left-block div {
  padding-right: 30px;
  width: 300px;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-logo img {
  width: 270px;
  height: 80px;
  margin: 0 10px 14px 0;
}

footer h3 {
  color: #fff;
}

footer .footer-logo p, .footer-nav ul li a, .right-block p, .footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav ul {
  padding-left: 0;
}

.footer-nav ul li {
  list-style-type: none;
}

.footer-nav ul li a {
  position: relative;
  text-indent: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-nav ul li a:hover {
  color: #fff;
}

.footer-nav ul li a span {
  width: 6px;
  height: 6px;
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  margin-right: 10px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer-nav ul li a:hover span {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

footer .left-block .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}

.right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.right-block .qr-code-block {
  margin-right: 30px;
}

.right-block p a {
  color: aqua;
}

footer .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 0;
}

footer .footer-copyright a.nav-link {
  color: #fff;
}

footer .footer-copyright a.nav-link:hover {
  color: rgba(255, 255, 255, 0.4);
}