@charset "UTF-8";
.hero {
  background-color: #383838;
}

#autohelp-carousel .carousel-item img {
  min-height: 175px;
}
#autohelp-carousel .carousel-indicators .active, #autohelp-carousel .carousel-indicators button:hover {
  background-color: aqua;
}

.products-wrap {
  background-color: #1f1f1f;
}

/*===========CARDs==========*/
.card-custom {
  max-width: 720px;
  min-width: 315px;
  min-height: 100%;
}
.card-custom .row {
  min-height: 100%;
}
.card-custom .card-image-box {
  position: relative;
}
.card-custom .card-image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-custom .card-body {
  min-height: 100%;
  max-width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-custom .card-body .btn-secondary {
  max-width: 250px;
}
.card-custom .card-body .btn-secondary:hover {
  color: aqua;
}

/*================ROW-SLIDER==============*/
.partners-row .container-md .row-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  height: 165px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.partners-row-slider .container-md .slider-image {
  width: 90px;
  height: 70px;
}

.partners-row-slider .container-md .slider-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=========Стилі для слайдера===================*/
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
carousel-item.active {
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

/* Стилі для карток */
.card-custom {
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
  background-color: #383838;
  color: aliceblue;
}