.header-wrap {
    background-color: #313131;
}
nav {
    .navbar-brand {
        img {
            box-shadow: 1px 1px 2px aqua;
            transition: box-shadow 0.5s;
        }
    
        img:hover {
            box-shadow: 2px 2px 5px ;
        }
    }
    
    .nav-item {
        a {
            color: #fff;
            margin: 0 10px;
            font-size: 20px;
            font-weight: 600;
            transition: all 0.5s;                
        }
        a:hover {
            color:aqua;
            border-bottom: 2px solid aqua;
        }
    }
}
