.navbar-brand {
    img {
        box-shadow: 2px 2px 5px aqua;
        transition: box-shadow 0.5s;
    }
}

.nav-item {
    a {
        transition: all 0.5s;                
    }
    a:hover {
        color:aqua;
    }
}