<footer>
    <div class="container-fluid">
        <div class="left-block">
            <div class="footer-logo">
                <img src="../../assets/img/footer-images/autohelp-logo2-bgless.png" alt="Логотип AutoHelp">
                <p>You get to enjoy a super fast and hassle free delivery. Additionaly, upon delivering the wheels & tires, we offer free installation.</p>
            </div>
            <div class="footer-nav">
                <h3>Links</h3>
                <ul>
                    <li><a href="#"><span></span> Про нас</a></li>
                    <li><a href="#"><span></span> Ціни та послуги</a></li>
                    <li><a href="#"><span></span> Відгуки</a></li>
                </ul>
            </div>
        </div>
        <div class="right-block">
            <h3>Контакти</h3>
            <p>Телефонуйте <a class="nav-link" href="tel:+380676711911">+38(067) 671 19 11</a> 775 Avenue, Brooklyn, NY <a href="#" class="nav-link">info&#64;site.com</a></p>
        </div>
    </div>
    <p class="footer-copyright"><a href="#" class="nav-link">AutoHelp</a> © 2024. All rights reserved.</p>
</footer>