<div class="about-wrap py-4 px-3">
  <div class="col-md-2 col-xs-12 p-2">
    <div class="card card-custom">
      <img class="card-img-top"
        src="../../assets/img/feedback-images/mission.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Місія та цінності:</h5>
        <p class="card-text">- Безпека на дорозі та зручність для водіїв - наша місія.<br>
          - Використовуємо тільки найкращі матеріали та обладнання.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-12 p-2">
    <div class="card card-custom">
      <img class="card-img-top"
        src="../../assets/img/feedback-images/professionalism.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Індивідуальний підхід:</h5>
        <p class="card-text">- Кожен водій унікальний для нас.<br>
          - Враховуємо потреби і бюджет кожного клієнта.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-12 p-2">
    <div class="card card-custom">
      <img class="card-img-top"
        src="../../assets/img/feedback-images/speed.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Швидкість та оперативність:</h5>
        <p class="card-text">- Реагуємо швидко та оперативно.
          - Виїжджаємо миттєво до вас.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-12 p-2">
    <div class="card card-custom">
      <img class="card-img-top"
        src="../../assets/img/feedback-images/individual_approach.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Професіоналізм та досвід:</h5>
        <p class="card-text">- Кожна послуга - з увагою до деталей.
          - Наша команда - ветерани з високим рівнем професіоналізму.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-12 p-2">
    <div class="card card-custom">
      <img class="card-img-top"
        src="../../assets/img/feedback-images/safety-and-comfort.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Безпека і зручність:</h5>
        <p class="card-text">- Оберіть нас для безпеки на дорозі.
          - Забезпечимо вашу зручність під час обслуговування.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-12 p-2">
    <div class="card card-custom">
      <img class="card-img-top"
        src="../../assets/img/feedback-images/personal_experience.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Особистий досвід:</h5>
        <p class="card-text">- Звертайтеся до нас і переконайтеся особисто в якості послуг.</p>
      </div>
    </div>
  </div>
</div>