#autohelp-carousel {
    .carousel-indicators {
        .active, button:hover {
            background-color: aqua;
        }
    }
}

.products-wrap {
    background-color: #1f1f1f;


    .card-custom {
        background-color: #1f1f1f !important;
        color: #fff;
    }
}

.card-group {
    .card {
        .card-image-box {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .card-body {
            .btn-secondary:hover {
                color: aqua;
            }
        }
    }
}


/*================ROW-SLIDER==============*/
.partners-row .container-md .row-slider{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    height: 165px;
    column-gap: 20px;
}

.partners-row-slider .container-md .slider-image {
    width: 90px;
    height: 70px;
}

.partners-row-slider .container-md .slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
