<section class="partners-row">
    <div class="container-md">
        <div class="row-slider">
            <div class="slider-image">
                <a href="#"><img src="../../assets/img/row-partners-slider/example_logo_1_x22.png" alt="Лого партнера"></a>
            </div>
            <div class="slider-image">
                <a href="#"><img src="../../assets/img/row-partners-slider/example_logo_2_x22.png" alt="Лого партнера"></a>
            </div>
            <div class="slider-image">
                <a href="#"><img src="../../assets/img/row-partners-slider/example_logo_3_x22.png" alt="Лого партнера"></a>
            </div>
            <div class="slider-image">
                <a href="#"><img src="../../assets/img/row-partners-slider/example_logo_4_x22.png" alt="Лого партнера"></a>
            </div>
            <div class="slider-image">
                <a href="#"><img src="../../assets/img/row-partners-slider/example_logo_5_x22.png" alt="Лого партнера"></a>
            </div>
            <div class="slider-image">
                <a href="#"><img src="../../assets/img/row-partners-slider/example_logo_6_x22.png" alt="Лого партнера"></a>
            </div>
        </div>
    </div>
</section>