<section class="feedbacks">

    <div id="carouselExampleAutoplaying" class="carousel slide container-sm" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="../../assets/img/feedback-images/image1.png" class="card-img-top"
                                alt="Feedback screenshot">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../../assets/img/feedback-images/image2.png" class="card-img-top"
                                alt="Feedback screenshot">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../../assets/img/feedback-images/image3.png" class="card-img-top"
                                alt="Feedback screenshot">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="../../assets/img/feedback-images/image4.png" class="card-img-top"
                                alt="Feedback screenshot">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../../assets/img/feedback-images/image5.png" class="card-img-top"
                                alt="Feedback screenshot">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../../assets/img/feedback-images/image6.png" class="card-img-top"
                                alt="Feedback screenshot">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="../../assets/img/feedback-images/image7.png" class="card-img-top"
                                alt="Feedback screenshot">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../../assets/img/feedback-images/image8.png" class="card-img-top"
                                alt="Feedback screenshot">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="../../assets/img/feedback-images/image9.png" class="card-img-top"
                                alt="Feedback screenshot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>